<ul>
  <%= for story <- @stories do %>
  <li>
    <%= link to: story.link, target: "_blank" do %>
      <%= story.title %>
      <%= story.description %>
      <%= story.source.name %>
    <% end %>
  </li>
  <% end %>
</ul>
